html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  border: transparent;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  font: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration-color: transparent;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplaySC";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PlayfairDisplaySC-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplaySC-Regular.woff") format("woff");
  font-display: swap;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: #1f2023;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: #1f2023;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.header {
  padding: 35px 0;
  border-bottom: 1px solid #e4e4e4;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  font-size: 16px;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__logo {
  margin: 0 auto;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__link {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.contacts__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  -webkit-mask-image: url("../images/sprite.svg#call-icon");
          mask-image: url("../images/sprite.svg#call-icon");
  background-color: #1f2023;
}

.hero {
  padding-bottom: 150px;
  background-image: url("../images/pattern-bg.svg");
}
.hero__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.hero__wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 30px;
  max-width: 622px;
  width: 100%;
  height: 721px;
  background-color: #f8f4ff;
  z-index: -1;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero__caption {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
.hero__offer {
  position: relative;
  font-family: "PlayfairDisplay";
  font-size: 71px;
  font-weight: 400;
  margin-bottom: 60px;
  z-index: 1;
}
.hero__offer::before {
  content: "";
  position: absolute;
  background-color: #fff4f4;
  width: 540px;
  height: 100px;
  z-index: -1;
  bottom: -10px;
  left: -30px;
}
.hero__btn {
  border: 2px solid #dc5858;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #dc5858;
  border-radius: 140px;
  padding: 18px 45px 15px;
  margin-bottom: 15px;
}
.hero__trigger {
  color: #dc5858;
  font-size: 16px;
  opacity: 0.5;
}

.footer {
  padding: 50px 0;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */