.reviews {
    padding: 75px 0 70px;

    @include mq('phone') {
        padding: 30px 0 30px;
    }

    &__title {
        position: relative;
        width: fit-content;
        padding-right: 95px;
        margin: 0 auto;
        margin-bottom: 80px;

        @include mq('tablet') {
            max-width: 350px;
            width: auto;
            padding-right: 0;
            padding-top: 55px;
            text-align: center;
            margin-bottom: 50px;
        }

        @include mq('phone') {
            margin-bottom: 30px;
        }

        &::after {
            @extend %pseudo;
            top: 75%;
            right: 0;
            width: 65px;
            height: 84px;
            background-image: url('../images/sprite.svg#heart-icon');
            background-repeat: no-repeat;

            @include mq('tablet') {
                width: 40px;
                height: 52px;
                top: 0;
                right: 50%;
                transform: translateX(50%);
            }
        }
    }

    &__wrapper {
        &--desktop {
            @include mq('tablet') {
                display: none;
            }
        }

        &--mobile {
            display: none;

            @include mq('tablet') {
                display: block;
                width: 100%;
                position: relative;
                padding-bottom: 90px;
            }
        }
    }

    &__list {
        max-width: 1100px;
        height: auto;
        color: $white;
        margin: 0 auto;

        @include mq('desktop') {
            max-width: 850px;
        }
    }

    &__item {
        &--left {
            margin-right: 60px;

            @include mq('desktop') {
                margin-right: 50px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 60px;

            @include mq('desktop') {
                margin-bottom: 50px;
            }
        }
    }

    &__article {
        position: relative;
        max-width: 515px;
        background-color: $reviews;
        border-radius: 35px;
        padding: 20px 35px;

        @include mq('desktop') {
            max-width: 400px;
        }

        @include mq('tablet-2') {
            max-width: 300px;
            font-size: 16px;
            padding: 25px;
        }

        @include mq('tablet') {
            &:last-child {
                margin-right: 30px;
            }
        }

        @include mq('phone') {
            &:last-child {
                margin-right: auto;
            }

            margin: 0 auto;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -40px;
            right: 50px;
            background-color: inherit;
            height: 50px;
            width: 60px;
            clip-path: polygon(69% 6%, 8% 6%, 93% 88%);
            border-radius: 50%;
        }

        &--left {

            &::before {
                transform: scaleX(-1);
                left: 50px;
            }
        }

        blockquote {
            margin-bottom: 15px;
        }
    }

    &__author {
        display: inline-block;
        font-weight: 700;
    }

    &__icon {
        position: absolute;
        width: 65px;
        height: 65px;
        background-repeat: no-repeat;
        border-radius: 50%;
        right: -35px;
        bottom: 20px;
    }

    &__pagination {
        position: absolute;
        bottom: 0;
        left: 50%;
    }

    &__bullet {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $grayDots;

        &--active {
            background-color: $reviews;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}