.header {
    padding: 35px 0;
    border-bottom: 1px solid $gray;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;

    &__list {
        display: flex;
        font-size: 16px;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__logo {
        margin: 0 auto;
    }
}

.contacts {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        padding-left: 20px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            mask-image: url('../images/sprite.svg#call-icon');
            background-color: $primary;
        }
    }
}