html,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    color: $primary;
    background-color: $mainBg;
    display: flex;
    flex-direction: column;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;

    @include mq('tablet') {
        bottom: -80px;
    }
}

body.lock {
    @include mq('desktop') {
        overflow: hidden;
    }
}

.sr-only {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;

    @include mq('desktop') {
        max-width: 1170px;
        padding: 0 10px;
    }
}

.main {
    position: relative;
    flex-grow: 1;
}

.title {
    font-family: 'PlayfairDisplay', sans-serif;
    text-align: center;
    color: $secondary;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;

    @include mq('tablet-2') {
        font-size: 50px;
    }

    @include mq('tablet') {
        font-size: 45px;
    }

    @include mq('phone') {
        font-size: 35px;
    }
}

.burger {
    position: relative;
    width: 30px;
    height: 20px;
    display: none;

    @include mq('tablet-2') {
        display: block;
    }

    &__line {
        position: absolute;
        background-color: $primary;
        width: 100%;
        height: 2px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: $primary;
        width: 100%;
        height: 2px;
        left: 0;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &--close {
        width: 25px;
        height: 25px;

        @include mq('desktop') {
            display: block;
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
            top: 50%;
        }

        &::after {
            top: calc(100% - 2px);
            transform: rotate(-45deg);
            top: 50%;
        }
    }
}

.overlay {
    position: fixed;
    background-color: $primary;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
    transition: opacity 1s;

    &--active {
        opacity: 0.5;
    }
}

.button {
    border: 2px solid $accent;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $accent;
    border-radius: 140px;
    padding: 18px 45px 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color .3s, background-color .3s, border-color .3s;

    &:focus {
        outline: transparent;
    }

    &:hover {
        color: $white;
        background-color: $accent;
    }

    &:active {
        color: $accent;
        background-color: transparent;
        border-color: transparent;
    }
}

.link {
    transition: color .3s;

    &:focus {
        outline: transparent;
    }

    &:hover {
        color: $accent;
    }

    &:active {
        color: $secondary;
    }
}

.form {
    max-width: 300px;

    &__list {
        margin-bottom: 50px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__field {
        display: block;
        min-width: 300px;
        background-color: transparent;
        border-bottom: 2px solid $accent;
        padding: 15px 15px 15px 0;
        transition: border-color .3s, box-shadow .3s;

        &::placeholder {
            font-family: 'Raleways', sans-serif;
            font-size: 18px;
            color: $primary;
            transition: color .3s;
        }

        &:focus {
            outline: transparent;
            box-shadow: 0 0 0 2px $accent;
            border-color: transparent;

            &::placeholder {
                color: transparent;
            }

            @include mq('tablet-2') {
                box-shadow: 0 0 0 2px transparent;
            }
        }

        &:hover {
            border-color: transparent;

            @include mq('tablet-2') {
                border-color: $accent;
            }
        }
    }
}